<html lang="en">
    <%- include('./partials/head.ejs') %> 
    <body>
        <nav>
            <div class="site-title">
                <a href="/">Blog Ninja</a>
                <p>A Net Ninja Site</p>
            </div>
            <ul>
                <li><a href="/">Blogs</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/blogs/create">Create A Blog</a></li>
            </ul>
        </nav>

        <div class="blogs content">
            <h2>About Page</h2>
            <p>Lorem Ipsum, Lorem Ipsum, Lorem Ipsum</p>
            <p>Lorem Ipsum, Lorem Ipsum, Lorem Ipsum</p>
            <p>Lorem Ipsum, Lorem Ipsum, Lorem Ipsum</p>
        </div>
    </body>
    <%- include('./partials/footer.ejs') %>
</html>